<!-- Title & Button -->
<div class="title">
  <label for="button" class="btn-1_label" id="btn1-label"
    >Driver Season Results</label
  >

  <button class="btn" [routerLink]="'/table'">Back</button>
</div>
<!-- Card -->
<div class="card">
  <p class="card_title">Driver Card</p>
  <div class="card_info">
    <div class="grouptext">
      <img
        src="https://via.placeholder.com/60C/O%20https://placeholder.com/"
        alt=""
      />
      <p class="info">Name</p>
      <p class="cont">Lewis Hamilton</p>
    </div>
    <div class="grouptext">
      <p class="info">Age</p>
      <p class="cont">38</p>
    </div>
    <div class="grouptext">
      <p class="info">Team</p>
      <p class="cont">Mercedes</p>
    </div>
    <div class="grouptext">
      <p class="info">Global Ranking</p>
      <p class="cont">6</p>
    </div>
  </div>
</div>
<!-- Table -->
<table class="table">
  <thead class="header">
    <tr>
      <th class="th-left">Race</th>
      <th>Position</th>
      <th class="th-right">Time</th>
    </tr>
  </thead>
  <tbody class="content">
    <tr class="tr-hover">
      <td>GP Barein</td>
      <td>5</td>
      <td>1:11:39.515</td>
    </tr>
    <tr class="tr-hover">
      <td>GP Portugal</td>
      <td>6</td>
      <td>1:17:24.312</td>
    </tr>
    <tr class="tr-hover">
      <td>GP Spain</td>
      <td>7</td>
      <td>1:22:29.376</td>
    </tr>
    <tr class="tr-hover">
      <td>GP Monaco</td>
      <td>5</td>
      <td>1:10:34.491</td>
    </tr>
    <tr class="tr-hover">
      <td>GP Italy</td>
      <td>19</td>
      <td>1:51:45.103</td>
    </tr>
    <tr class="tr-hover">
      <td>GP Singapore</td>
      <td>15</td>
      <td>1:44:16.158</td>
    </tr>
    <tr class="tr-hover">
      <td>GP Japan</td>
      <td>12</td>
      <td>1:30:14.658</td>
    </tr>
    <tr class="tr-hover">
      <td>GP USA</td>
      <td>10</td>
      <td>1:29:41.505</td>
    </tr>
    <tr class="tr-hover">
      <td>GP Australia</td>
      <td>14</td>
      <td>1:47:52.109</td>
    </tr>
    <tr class="tr-hover">
      <td class="td-left">GP Abu Dabi</td>
      <td>5</td>
      <td class="td-right">1:23:38.271</td>
    </tr>
  </tbody>
</table>
<!-- Footer -->
<footer>
  &#9400; 2022 Everis Centers, prepared for <strong>FIA</strong> using
  <I>Angular</I> and <I>Stencil</I>
</footer>
